apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-deployment
  namespace: sp-auto
  labels:
    app: my-app
spec:
  replicas: 1  # Número de réplicas en el deploy
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: react-container
        image: morgadoberruezo/react:latest
        command: ["bash", "-c", "admin/start.sh"]

        # command: ["bash", "-c", "tail -f /dev/null"]
        # image: nginx:latestdocker compose --env-file .env -f docker-compose.yml up -d --build
        envFrom:
          - configMapRef:
              name: app-env-config
        ports:
        - containerPort: 80
        volumeMounts:
          - name: auto-logs
            mountPath: /root/logs
      volumes:
      - name: auto-logs
        persistentVolumeClaim:
          claimName: auto-pvc  # <-- asegúrate de poner el mismo PVC que usaba el pod original
